<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Review order</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <script src="/static/js/order-management.js" defer></script>
</head>
<body>
    <div th:replace="header.html :: copy"></div>
    <div class="banner">
        <h1>My Shopping Cart</h1>
    </div>

    <div class="container">
        <div id="lineItems" class="">
            <table class="table">
                <tr>
                    <th>Product name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                <tr th:each="lineItem,iterStat : ${order.getShoppingCart().getLineItems()}" th:data-id="${lineItem.getId()}">
                    <td th:text="${lineItem.getProductName()}">Product name</td>
                    <td><input type="number" min="0" th:attr="value=${lineItem.getQuantity()}" class="quantityField"></td>
                    <td th:text="${lineItem.getPrice()} + ' USD'" th:data-price="${lineItem.getPrice()}"></td>
                    <td th:text="${lineItem.getTotalPrice()} + ' USD'" th:data-total="${lineItem.getTotalPrice()}">Total</td>
                </tr>
            </table>

            <div>Total price of cart: <span th:text="${order.getShoppingCart().getTotalPrice()} + ' USD'">199</span></div>
        </div>

    </div>

    <div th:replace="footer.html :: copy"></div>
</body>
</html>