/* General */

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
    background-color: gainsboro;
}

nav {
    height: 70px;
    background-color: #4d0000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
nav a {
    float: left;
    color: peachpuff;
    font-size: 28px;
    padding: 0 30px;
    line-height: 70px;
}
 nav a:last-child {
     float: right;
 }

 nav #cart-link {
     padding-left: 75px;
     background: url("/static/img/shopping_cart.png") no-repeat left;
 }

 nav a:hover {
     text-decoration: none;
     color: gainsboro;
 }

.banner {
    margin-top: 70px;
    background-image:url("/static/img/banner.jpg");
    height: 184px;
    border-bottom: 1px solid #4d0000;
 }
.banner h1 {
    text-align: center;
    padding-top: 80px;
    color: #4d0000;
    font-size: 55px;
}
footer {
    height: 70px;
    background-color: #4d0000;
    color: peachpuff;
    width: 100%;
}

footer p {
    padding: 0;
    margin: 0;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
}

/* Home page */

.container {
    margin: 25px auto;
    padding: 20px;
    background-color: peachpuff;
    box-shadow: 0 0 20px #4d0000;
}

.card .card-img {
    width: 300px;
    height: auto;
    margin: 10px auto;
}

#dropdowns {
    display: inline-block;
    margin: 5px;
    background-color: peachpuff;
}

#dropdown1 {
    float: left;
    padding-right: 20px;
}
#dropdown2{
    float: right;
}

#products .card {
    margin-bottom: 15px;
}

/* Shopping cart*/

table {
    width: 90%;
    margin: 10px auto;
}

th, td {
    text-align: center;
    font-size: 22px;
    border-bottom: 1px solid #4d0000;
}

#lineItems div {
    display: block;
    font-size: 22px;
    text-align: center;
}

.quantityField {
    border: none;
    background-color: antiquewhite;
    width: 40px;
    border-radius: 7px;
    box-shadow: 0 0 5px grey;
    text-align: end;
}